<h1 class="bg-info text-center mt-1 ">Angular Pagination</h1>
    <div class="mt-5 row justify-content-center  ">
      <label for="table-filtering-search" class=" col-sm-auto col-form-label">Search Here:</label>
      <div class="col-xs-3 col-sm-auto">
        <input id="table-filtering-search" class="form-control" type="text" [(ngModel)]="searchText">
      </div>
    </div>
  <div class="container mt-5" *ngIf="data| async as data">
<table class="table table-striped ">
  <thead class="bg-warning fs-4" >
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Title</th>
    <th scope="col">Body</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data | paginate: { itemsPerPage: 10, currentPage: page } | filter : searchText">
    <td>{{item.id}}</td>  
        <td>{{item.title}}</td>
        <td>{{item.body}}</td>
  </tr>
  </tbody>
</table>
<div class="pagination justify-content-center ">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>

